/* .container {
  display: grid;
  max-width: 400px;
  grid-template-columns: 2fr, 100ch 1fr;
} */

.container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
/* .card :hover {
  box-shadow: none;
} */
